# Config file for automatic testing at travis-ci.org

language: python
python:
  - 2.7
  - 3.6

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install -r requirements-dev.txt
  - pip install -r requirements.txt

# command to run tests, e.g. python setup.py test
script:
  - tox
  - coverage run --source pylandstats -m py.test

after_success:
  - coverage report -m
  - coveralls

# deploy new versions to PyPI
deploy:
  provider: pypi
  on:
    tags: true
    python: 3.6
  user: martibosch
  password:
    secure: vID3rBmdfM1X+oSs6gepPq21FZFdAGK0WPa2kZiSU1lNpGD6wvrBU4WGphwhTjZuckwpG0mYFKYrA0M0yw1JgbrLUqSo0JDU64Ev6YQKV/bQDGp7hAoPEx1sHeaB7JKoPvPHDWHvjXP/3qQ8/fZjSmFNx3ZsHH8lQQsb62YUWsSC/+pjE5rfwJjkgHG3i0VVmdRX5zhlu9U0UE0g8nodqDLOOKaaTYwQ8JQyD3hnR9LEN7SRc7Rz/qdvzerDQ+gCgvHrzyGd0KZ4c86Akg9bwkwArZee+YaE7zIbK4bPIgZyLuL3I1pLi5Ybf0UsylAOTU82970CKvoK7VcidgLMdycbjATDyslFWmS/mwyvsfNEF+wQFRXzoBlSZV4AR8CDgulivs72HU3aoFBPjTOIZLVonFU8itkfHNKw2ys0Sj13NV01Z3OIRDmpE738ORsZv4YTp2NaI82B/zhLAKm4MbjTHsNoAyU+fQDiZAiwerLqRO30CzuiRPA9hgLIa9YMbhg+z2kWEnUCLA3173VgHVX0INamvEjZkeHm2/RF0nEm8kOldZEDq5MZ+PkiSDjAlPrsV+4eoP/RYXPh2blC3xzeidd13w/AneDUlwytkKxWOIIWR6UyKyDEplmY+gixydYNXb2b+OEj3MzEKNS45YG9sRtPXmOIuOR8D8HkRQk=
